<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.RecordMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Record">
        <id column="id" property="id"/>
        <result column="urlId" property="urlId"/>
        <result column="text_name" property="textName"/>
        <result column="continued_time" property="continuedTime"/>
        <result column="num" property="num"/>
    </resultMap>


    <select id="isPush" resultType="java.lang.Integer">
        SELECT
            count( text_name )
        FROM
            record
        WHERE
            text_name = #{url} and url_id = #{urlId}
    </select>

    <select id="findRecentChapter" resultType="com.example.demo.entity.Record">
        SELECT
            *
        FROM
            record
        WHERE
            url_id = #{urlId}
        ORDER BY id DESC
        LIMIT 0,1
    </select>

    <select id="findRotationInnerChapter" resultType="com.example.demo.entity.Record">
        SELECT
            *
        FROM
            record
        WHERE
            url_id = #{urlId} and continued_time >= now()
    </select>

    <insert id="addRecord">
        INSERT INTO record ( text_name,url_id)
        VALUES
            ( #{url} ,#{urlId} )

    </insert>
</mapper>